beautifulsoup4==4.4.1
certifi==2017.4.17
chardet==3.0.4
Click==7.0
Cython==0.29.13
Flask==1.1.1
Flask-AutoIndex==0.6
flask-heroku==0.1.9
Flask-Silk==0.2
Flask-WTF==0.12
future==0.15.2
gunicorn==19.9.0
idna==2.8
itsdangerous==0.24
Jinja2==2.10.1
MarkupSafe==0.23
requests==2.22.0
urllib3==1.25.8
Werkzeug==0.15.0
WTForms==2.1